@charset "utf-8";

:root {
    --grid-width: calc( (100% / 12) );
};

.element-grid {
    display: flex;
    /* justify-content: space-between;

    & > [class^="element-grid_"],
    & > [class*="element-grid_ "] {
        box-sizing: border-box;
    }

    & .element-grid_1  { width: calc( (1  * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_2  { width: calc( (2  * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_3  { width: calc( (3  * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_4  { width: calc( (4  * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_5  { width: calc( (5  * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_6  { width: calc( (6  * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_7  { width: calc( (7  * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_8  { width: calc( (8  * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_9  { width: calc( (9  * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_10 { width: calc( (10 * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_11 { width: calc( (11 * var(--grid-width)) - var(--grid-gutter) ); }
    & .element-grid_12 { width: calc( (12 * var(--grid-width)) - var(--grid-gutter) ); }

    &.is_noGutter {
        justify-content: flex-start;
        & .element-grid_1  { width: calc( 1  * var(--grid-width) ); }
        & .element-grid_2  { width: calc( 2  * var(--grid-width) ); }
        & .element-grid_3  { width: calc( 3  * var(--grid-width) ); }
        & .element-grid_4  { width: calc( 4  * var(--grid-width) ); }
        & .element-grid_5  { width: calc( 5  * var(--grid-width) ); }
        & .element-grid_6  { width: calc( 6  * var(--grid-width) ); }
        & .element-grid_7  { width: calc( 7  * var(--grid-width) ); }
        & .element-grid_8  { width: calc( 8  * var(--grid-width) ); }
        & .element-grid_9  { width: calc( 9  * var(--grid-width) ); }
        & .element-grid_10 { width: calc( 10 * var(--grid-width) ); }
        & .element-grid_11 { width: calc( 11 * var(--grid-width) ); }
        & .element-grid_12 { width: calc( 12 * var(--grid-width) ); }
    }

    &.is_around {
        justify-content: space-around;
    } */

    justify-content: flex-start;

    & > [class^="element-grid_"],
    & > [class*="element-grid_ "] {
        box-sizing: border-box;
    }
    & .element-grid_1  { width: calc( 1  * var(--grid-width) ); }
    & .element-grid_2  { width: calc( 2  * var(--grid-width) ); }
    & .element-grid_3  { width: calc( 3  * var(--grid-width) ); }
    & .element-grid_4  { width: calc( 4  * var(--grid-width) ); }
    & .element-grid_5  { width: calc( 5  * var(--grid-width) ); }
    & .element-grid_6  { width: calc( 6  * var(--grid-width) ); }
    & .element-grid_7  { width: calc( 7  * var(--grid-width) ); }
    & .element-grid_8  { width: calc( 8  * var(--grid-width) ); }
    & .element-grid_9  { width: calc( 9  * var(--grid-width) ); }
    & .element-grid_10 { width: calc( 10 * var(--grid-width) ); }
    & .element-grid_11 { width: calc( 11 * var(--grid-width) ); }
    & .element-grid_12 { width: calc( 12 * var(--grid-width) ); }

    &.is_around {
        justify-content: space-around;
        margin-left: 0;
        margin-right: 0;
    }

    &.is_between {
        justify-content: space-between;
        margin-left: 0;
        margin-right: 0;
    }

    &.is_gutter10 {
        margin-left: calc( 10px / 2 * (-1) );
        margin-right: calc( 10px / 2 * (-1) );
        & > [class^="element-grid_"],
        & > [class*="element-grid_ "] {
            padding-left: calc( 10px / 2 );
            padding-right: calc( 10px / 2 );
        }
    }

    &.is_gutter20 {
        margin-left: calc( 20px / 2 * (-1) );
        margin-right: calc( 20px / 2 * (-1) );
        & > [class^="element-grid_"],
        & > [class*="element-grid_ "] {
            padding-left: calc( 20px / 2 );
            padding-right: calc( 20px / 2 );
        }
    }

}

/* @for $i from 1 to 12 {
    .element-grid_$i {
        width: calc( ($i * var(--grid-width)) - var(--grid-gutter) );
    }
} */
