
// sassのネスト
body {
    /* background: #F7F7F7; */
    div {
        /* background: #CCC; */
    }
}

// autoprefixer検証
.flex {
    display: flex;

    // postcss-functions検証
    font-size: pxtovmin(10);
}


// cssnextのネスト
a {
    color: var(--myColor);
    & span { color: #000000; }
    &:hover { color: #000000; }
}


// for & if 構文
/* @for $count from 1 to 3 {
    .for-$(count) {
        width: $(count)0px;
        @if $count == 2 {
            color: red;
        }
    }
} */

// cssnextのrgba
.rgba {
    /* background: rgba(#333333,0.1); これは不可*/
    background: #00000033;
}


// @define-function の呼び出し
.mixin {
    @mixin transition 0.6, ease;
    @mixin clearfix;
}

// @define-function の呼び出し
@callFn .function { height: rem(640); }

// cssnextのcalc例
.calc { width: calc( var(--widthTb) + var(--widthSp) ); }


// media query 結合
@media (--tb) {
    /* body { background: #999; } */
}
@media (--tb) {
    .mq { color: #666; }
}
@media (--tb) {
    .mq2 { width: calc(100% - 200px); }
    .mq3 { width: calc(10 * 2px); }
}

/* 
@media (--sp) {
    body { background-color: var(--myColor) }
} */



.element-grid span {
    display: block;
    border: 1px solid #CCC;
    padding: 15px;
    background: #F7F7F7;
    text-align: center;
}